[Unit]
Description=Listening
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/matija/Projects/socket-test/fromHost.py
WorkingDirectory=/home/matija/Projects/socket-test
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
